<% if @fav_user_tags.empty? %>
  <div class="feed-paragraf">
    <p class="lead">
      You have no favourites selected. Star some interests to see something here!
    </p>
  </div>
<% else %>
  <div class="infinite-scroll clearfix col-xs-12">
    <% @fav_user_tags.each do |chat| %>
      <div class="box col-xs-12">
        <div class="panel panel-default fav" id="box-<%= chat.id %>">
          <div class="panel-heading">
            <h2 class="panel-title" style="text-align: center;">
              <%= link_to '#' + chat.tag, hashtag_path(chat.tag) %>
            </h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
