<% @chats.each do |chat| %>
  <% if not chat.empty? %>
    <div class="box col3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title"><%= link_to "#"+chat.first.hashtag.tag, chat.first.hashtag %></h2>
        </div>

        <% chat.each do |message| %>
          <div class="panel-body">
            <span class="chat-timestamp"><%= message.timestamp %></span>
            <span class="chat-name"><%= message.user.name %></span>:
            <%= truncate(split_str(message.content), length: 200) %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>