<div class="hashtag-padding col-sm-3 col-lg-3">
  <% if user.hashtags.present? %>
      <h2> Groups</h2>
      <table class="table table-hover">
        <% user.hashtags.each do |tag| %>
            <tr>
              <td>
                <a class="panel-title"><%= link_to "#"+tag.tag, tag %></a>
              </td>
            </tr>
        <% end %>
      </table>

  <% end %>
</div>
