
<div class="feed-paragraf">
  <h2>Suuri Limputuskisa!</h2>

  <p>Kilpailuaika: 14.-30.9.2015</p>

  <p>Fuksiryhmän, jonka kanavalla on keskusteltu eniten syyskuun loppuun mennessä, kesken jaetaan palkintoja.<br>
    Lisäksi koko sivustolla eniten keskustellut henkilö voittaa palkinnon.</p>

  <p>Tällä sivulla näkyvät aktiivisimmat fuksiryhmät ja kovimmat limputtajat. Lisäksi
    <a href="https://limppu.it.helsinki.fi/hashtags/limputuskisa">#limputuskisa-kanavalle.</a>.</p>
</div>
