<div class="feed-paragraf clearfix">
  <h2>Suuri Limputuskisa!</h2>
  <p class="lead">
    <a href="https://limppu.it.helsinki.fi/hashtags/UHPeople">UHPeople</a>-Kehitystiimi järjestää kilpailun, jossa palkitaan aktiivisimpia keskustelijoita. Palkintoja saavat fuksiryhmä, jonka kanavalla on keskusteltu
    eniten ja koko sivustolla eniten keskustellut henkilö. Lisäksi suosituimman kanavan jäsenien kesken arvotaan palkintoja.
  </p>

  <p>
    Tällä sivulla näkyvät aktiivisimmat fuksiryhmät ja
    kovimmat limputtajat. Lisäksi keskustelua
    <a href="https://limppu.it.helsinki.fi/hashtags/limputuskisa">#limputuskisa</a>-kanavalla.
  </p>

  <h3><small>Säännöt</small></h3>
  <ul>
    <li>Kilpailuaika: 14.-30.9.2015</li>
    <li>Jokainen voittaneen fuksiryhmän jäsen saa palkinnon</li>
    <li>Kilpailuun osallistuvat fuksikanavat ilmoittautuvat
      <a href="https://limppu.it.helsinki.fi/hashtags/limputuskisa">#limputuskisa</a>-kanavalla.</li>
    <li>Aktiivisin henkilö palkitaan Kovin Limputtaja -tunnustuksella sekä yllätyspalkinnolla.</li>
    <li>Kilpailun arvon raati arvioi lopuksi kanavien keskustelun laatua,
      jotta vältytään spämmäykseltä.
    </li>
  </ul>

  <div class="top col-md-4">
    <h3>Top Kanavat</h3>
    <ul>
      <% @top_hashtags.each do |top| %>
        <li><%= link_to "##{top[0].tag} - #{top[1]} messages", hashtag_path(top[0].tag) %></li>
      <% end %>
    </ul>
  </div>

  <div class="top col-md-4">
    <h3>Top Käyttäjät</h3>
    <ul>
      <% @top_users.each do |top| %>
        <li><%= link_to "#{top[0].name} - #{top[1]} messages", top[0] %></li>
      <% end %>
    </ul>
  </div>

  <div class="top col-md-4">
    <h3>Top Fuksiryhmät</h3>
    <ul>
      <% @top_custom_hashtags.each do |top| %>
        <li><%= link_to "##{top[0].tag} - #{top[1]} messages", hashtag_path(top[0].tag) %></li>
      <% end %>
    </ul>
  </div>
</div>
