<div class="container">

  <div role="tabpanel " class="col-md-offset-1 col-md-8 col-lg-offset-1 col-lg-7">

  <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#feed" aria-controls="feed" role="tab" data-toggle="tab">Feed</a>
      </li>
      <li role="presentation">
        <a href="#favourites" aria-controls="favourites" role="tab" data-toggle="tab">Favourites</a>
      </li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="feed">
        <%= render 'feed' %>
      </div>
      <div role="tabpanel" class="tab-pane fade active" id="favourites">
        <%= render 'favourites' %>
      </div>
    </div> 
  </div>
  <%= render 'hashtaglist', user: current_user %>
</div>

<script>
  var url = document.location.toString();
  if (url.match('#')) {
      $('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show') ;
  } 

  // Change hash for page-reload
  $('.nav-tabs a').on('shown.bs.tab', function (e) {
      window.location.hash = e.target.hash;
      window.scrollTo(0, 0);
  })
</script>
