<div class="container">
  <% @chats.each do |chat| %>
    <% if not chat.empty? %>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= link_to "#"+chat.first.hashtag.tag, chat.first.hashtag %></h3>
          </div>

          <% chat.each do |message| %>
            <div class="panel-body">
              <span class="chat-timestamp"><%= message.timestamp %></span>
              <span class="chat-name"><%= message.user.name %></span>:
              <%= message.content %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>