<div class="container">
  <div role="tabpanel " class="col-md-offset-1 col-md-8" >

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" >
      <li role="presentation" class="active">
        <a href="#feed" aria-controls="feed" role="tab" data-toggle="tab" id="feed-onboard-feed">Feed</a>
      </li>
      <li role="presentation" >
        <a href="#favourites" aria-controls="favourites" role="tab" data-toggle="tab" id="feed-onboard-favourites">Favourites</a>
      </li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="feed">
        <%= render 'feed' %>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="favourites">
        <%= render 'favourites' %>
      </div>
    </div> 
  </div>
  <%= render 'hashtaglist' %>
</div>


