<div class="container">
  <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix container col-md-offset-1 col-md-8 col-lg-offset-1 col-lg-7">
    <% unless @chats.any? %>
        <p class="lead">
          Your feed is empty. Follow some hashtags to see something here!
        </p>
    <% else %>
      <% @chats.each do |chat| %>
        <%= render 'chatbox', user: current_user %>
      <% end %>
    <% end %>
  </div>
  
  <%= render 'hashtaglist', user: current_user %>

</div>