<script type="text/javascript">
  var tab = <%= @tab %>
</script>

<div class="container">
  <div role="tabpanel" class="col-md-9 col-lg-10">
    <!--<ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#favourites" aria-controls="favourites" role="tab" data-toggle="tab" id="feed-onboard-favourites">Favourites</a>
      </li>
      <li role="presentation">
        <a href="#feed" aria-controls="feed" role="tab" data-toggle="tab" id="feed-onboard-feed">Feed</a>
      </li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="favourites">
        <%= render 'favourites' %>      
      </div>
      <div role="tabpanel" class="tab-pane fade" id="feed">-->
      <div id="feed">
        <%= render 'feed' %>
      </div>
    <!--</div>-->
  </div>
  <%= render 'hashtaglist' %>
</div>


