<div class="search-result result-hashtag">
  <div class="result-title">
    <h4><%= link_to "#" + truncate(hashtag.tag, length: 30, separator: ' '), hashtag_path(tag: hashtag.tag) %></h4>
  </div>
  <div class="result-supporting-text">
    <div class="result-hashtag-members">
      <%= pluralize(hashtag.users.count, 'member') %>
    </div>
    <div class="result-hashtag-topic">
      <%= truncate(hashtag.topic, length: 60, separator: ' ') %>
    </div>
    <% unless hashtag.empty? %>
      <div class="">
        Latest message on
        <span class="timestamp"><%= hashtag.latest_message.timestamp %></span>
      </div>
    <% end %>
  </div>
</div>