
<div class= "col-xs-12 col-sm-8">
	<h1>Search results for: #<%= @searchword %></h1>

	<% @hashtags.each do |h| %>
		<p><%= link_to "#" + h.tag, h%></p>
  <% end %>

  <h1>What about a new one?</h1>
  	<p>Create new hashtag: 
  	
  	<%= link_to @searchword, hashtags_path(:tag => @searchword), :method => :post %>
  	</p>

</div>
