<div class="container">
	<h1>Your notifications</h1>

	<% unless @notifications.nil? %>
		<div id="masonry-container" class="notif transitions-enabled infinite-scroll clearfix col-md-12">
			<% @notifications.each do |notif| %>
				<%= render 'invite', notification: notif if notif.notification_type == 1 %>
			<% end %>
		</div>
	<% end %>
</div>


