<div class="container">
  <h1>Your notifications</h1>
    <% if current_user.notifications.empty? %>
      You don't have any notifications.
    <% else %>
      <div class="notif transitions-enabled infinite-scroll clearfix">
        <% @notifications.each do |notif| %>
          <%= render 'invite', notification: notif if notif.notification_type == 1 %>
          <%= render 'new_topic', notification: notif if notif.notification_type == 2 %>
          <%= render 'mention', notification: notif if notif.notification_type == 3 %>
        <% end %>
      </div>
  <% end %>
</div>


