	<div class="well">
		<%= form_tag({controller: "hashtags", action: "add_multiple"}, method: "put") do %>
			<h1 class="favorite-position">
				My favourite things
				<%= submit_tag("Update", class:"btn btn-default")  %>
			</h1>
		  <%= text_field_tag(:Hashtag, current_user.hashtags.map(&:tag).join(",")) %>
		<% end %>
	</div>
