<div class="modal fade" id="image_<%= pic.id %>" tabindex="-1" role="dialog" aria-labelledby="image_<%= pic.id %>" aria-hidden="true">
  <div class="modal-dialog autoModal">
    <div class="modal-content">
    </div>
  </div>
</div>