<div class="mdl-card collapse-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <p class="mdl-card__title-text">
      You have <%= @same_tags.count %><br>
      same <%= "interest".pluralize(@same_tags.count) %>!
    </p>
  </div>
  <div class="mdl-card__supporting-text">
    <% @same_tags.each do |hashtag| %>
      <%= link_to "#" + truncate(hashtag.tag, length: 17), hashtag_path(tag: hashtag.tag) %>
    <% end %>
  </div>
</div>
