<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col"></div>
  <div class="mdl-cell mdl-cell--8-col">
    <table class="mdl-data-table mdl-js-data-table" style="width: 100%;">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Name</th>
          <th class="mdl-data-table__cell--non-numeric">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td class="mdl-data-table__cell--non-numeric"><%= user.name %></td>
            <td><%= link_to 'Login as', "login/#{user.id}" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to 'Add new user', new_user_path %>
  </div>
</div>
