<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>
      <%=@user.name%> has invited you to join the UHPeople community. To login to the site, follow this link: <%= link_to @url, @url %>.
    </p>

  </body>
</html>