
<div class="add-photo-card mdl-card mdl-shadow--6dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text mdl-color-text--white">Add photo to message</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <div class="modal-body invite-modal">
      <p>Invite friends and colleques to your interest!</p>
      <%= form_tag({controller: 'hashtags', action: 'invite'}, method: 'post',
                   'data-toggle': 'tooltip', 'data-placement': 'top',
          title: 'Invite people to the channel. Start typing, choose a right person and press enter.', id: 'invite-form') do %>
      <%= text_field_tag :user, params[:user], placeholder: 'Fill in name', class: 'typeahead-invite' %>
      <%= submit_tag('Invite', class: 'mdl-button invite-button pull-right') %>
      <% end %>
    </div>
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect add-photo-modal__close">
      <i class="material-icons">close</i>
    </button>
  </div>
</div>
