<div class="well grouplist-position ">
  <h3>Members</h3>
  <ul class="nav nav-list scrollable">
    <% @hashtag.users.each do |m| %>
        <li id='<%= m.id %>'><%= link_to m.name, m %></li>
    <% end %>
  </ul>
</div>
