<div class="jumbotron" style="background-image: url('<%= @hashtag.cover_photo.url() %>'); padding-top: 0;">
  <div class="container text-center">
    <h1>#<%= @hashtag.tag %></h1>

    <p>
      <% unless @hashtag.topic.nil? && @hashtag.topic.blank? %>
        <%= auto_link(ERB::Util.html_escape(@hashtag.topic), html: { target: '_blank' }) %>
        <cite style="font-size: 60%">- <%= @topicker.name %></cite>
      <% end %>
    </p>
  </div>
</div>
