<%# render 'topic' %>

<div class="mdl-grid">
  <% if @user_has_tag %>
    <div class="mdl-card mdl-cell mdl-cell--8-col">
      <%= render 'chat' %>
    </div>
    <div class="mdl-card mdl-cell mdl-cell--8-col mdl-cell--4-col-desktop">
      <%= render 'grouplist' %>
    </div>
  <% else %>
    <div class="col-sm-4 col-sm-offset-8">
      <%= render 'grouplist' %>
    </div>
  <% end %>
</div>

<%= render './onboards/hashtag_onboard' %>
