
<div class= "col-xs-12 col-sm-8">
	<h1>#<%= @hashtag.tag %></h1>

	<p>This is going to be awesome chat window!</p>
</div>

<div class= "col-xs-12 col-sm-4">
	<div class="well sidebar-nav">
		<h3>Members</h3>
		<ul class="nav nav-list">
			<% @members.each do |m| %>
				<li><%= link_to m.name, m %></li>
			<% end %>
		</ul>
	</div>
</div>