<%= render 'topic' %>

<div class="container" >
  <div class="col-sm-8" >
    <%= render 'chat' %>
  </div>

  <div class="col-sm-4">  
    <%= render 'grouplist' %>
  </div>
</div>
<%= render './onboards/hashtag_onboard' %>

