<div class="container">
  <div class="col-md-8">
    <h2>My favourite things</h2>

    <p>Find your favourite things or create new!</p>
    
      <%= form_tag({controller: "hashtags", action: "add_multiple"}, method: "put") do %>
        <%= text_field_tag(:Hashtag, current_user.hashtags.map(&:tag).join(",")) %>
        <%= submit_tag("Update", class:"btn btn-primary")  %>
      <% end %>
  </div>
</div>