<%= form_tag({controller: "hashtags", action: "add_multiple"}, method: "put") do %>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col mdl-cell--hide-phone"></div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Tell us about yourself!</h2>
      </div>
      <div class="mdl-card__supporting-text" style="width: 100%;">
        <p>List three things that feel important to you right now.</p>
        <%= text_field_tag :hashtags, current_user.hashtags.map(&:tag).join(","), style: 'width: 100%;' %>
      </div>
      <div class="mdl-card__actions">
        <div class="pull-right">
          <%= link_to 'Skip', feed_index_path, class: 'mdl-button mdl-js-button' %>
          <%= submit_tag "Update", class: 'mdl-button mdl-js-button mdl-button--colored mdl-button--raised' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
