<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--3-col mdl-cell--hide-phone"></div>
	<div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-card mdl-shadow--2dp">
		<div class="mdl-card__title">
			<h2 class="mdl-card__title-text">Ooops, something went wrong!</h2>
		</div>
		<div class="mdl-card__supporting-text">
			Please help us locate the problem and describe where this error occured by sending us email
		</div>
		<div class="mdl-card__actions mdl-card--border">
			<a href="mailto:uh.people@helsinki.fi" class="mdl-button mdl-js-ripple-effect">uh.people@helsinki.fi</a>
		</div>
	</div>
</div>
