<style media="screen">
	.mdl-card__wide{
		width: 100%;
		height: 80vh;
	}
</style>
<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--12-col">
		<div class="mdl-card mdl-card__wide mdl-shadow--2dp">
			<div class="mdl-card__title">
				<h2> Ooops, something went wrong!</h2>
			</div>
			<div class="mdl-card__supporting-text">
				<p> Please help us locate the problem and describe where this error occured by sending us email in: uh.people@helsinki.fi </p>
			</div>
		</div>
	</div>
</div>
