<div class="jumbotron head">
	<div class="container text-center middle">

		<h1>Welcommen till UHPeople!</h1>

		<p class="lead">Pompous and awesome slogan</p>

		<%= link_to 'Login or signup!', users_path, :class => "btn btn-success btn-lg"%>
	</div>
</div>