<div class="jumbotron head">
	<div class="container text-center middle">

		<h1>Welcome to UHPeople!</h1>

		<p class="lead">Where University of Helsinki gets connected</p>

		<%= link_to 'Login or signup!', @login_url, :class => "btn btn-success btn-lg"%>
	</div>
</div>
