<ol id="feed-onboard" class="joyRideTipContent" data-joyride>
  <li data-id="feed-onboard-header" data-text="Next" data-options="tipLocation: bottom; tip_animation:fade; prev_button: false">
    <h4>Hello and welcome to UHPeople!</h4>
    <p>This guide will help you through you first time here. Lets get started. Click next!</p>
  </li>
  <li data-id="feed-onboard-home" data-class="custom so-awesome" data-text="Next" data-prev-text="Prev" data-options="ttip_animation:fade">
    <h4>Homepage</h4>
    <p>This is your homepage and later on you can find it by clicking the "home" link above.</p>
  </li>
  <li data-id="feed-onboard-search" data-class="custom so-awesome" data-text="Next" data-prev-text="Prev" data-options="tipLocation: bottom;tip_animation:fade">
    <h4>Search</h4>
    <p>This is the search field.</p>
    <p>Start typing names on people or interests, if your interest does not yet exist in UHPeople you'll be offered to add it as a new one!</p>
  </li>
  <li data-class="feed-onboard-notif" data-class="custom so-awesome" data-text="Next" data-prev-text="Prev" data-options="tip_animation:fade">
    <h4>Notifications</h4>
    <p>This is the link to your notification center.</p>
  </li>
  <li data-id="feed-onboard-feed" data-class="custom so-awesome" data-text="Next" data-prev-text="Prev" data-options="tipLocation: bottom;tip_animation:fade">
    <h4>Feed</h4>
    <p>This will be your feed. Latest posts from your interests will appear here.</p>
  </li>
  <li data-id="feed-onboard-favourites" data-button="Next" data-prev-text="Prev" data-options="tipLocation: bottom;tipAnimation:fade">
    <h4>Favourites</h4>
    <p>You can add interests to favourites by clicking on a star icon next to the desired interest on the interests list.</p>
  </li>
  <li data-id="feed-onboard-hot" data-button="Next" data-prev-text="Prev" data-options="tipLocation: bottom;tip_animation:fade">
    <h4>Hot topics</h4>
    <p>Hottest interests in UHPeople appear here. Click on an interest to go to its channel!</p>
  </li>
  <li data-id="feed-onboard-interest" data-button="Next" data-prev-text="Prev" data-options="tipLocation: top;tip_animation:fade">
    <h4>Interests</h4>
    <p>Click on an interest to go to its channel!</p>
  </li>
</ol>