<ol id="feed-onboard" class="joyRideTipContent" data-joyride>
  <li data-id="feed-onboard-header" data-text="Next" data-options="tip_animation:fade; prev_button: false">
    <h4>Hello and welcome to UHPeople!</h4>
    <p>This guide will help you for your first-time use. Lets get started. Click next!</p>
  </li>
  <li data-id="feed-onboard-home" data-class="custom so-awesome" data-text="Next" data-prev-text="Prev" data-options="tipLocation: top;tip_animation:fade">
    <h4>Homepage</h4>
    <p>This is your homepage and later you can find it behind "home" link above.</p>
  </li>
  <li data-class="feed-onboard-notif" data-class="custom so-awesome" data-text="Next" data-prev-text="Prev" data-options="tipLocation: top;tip_animation:fade">
    <h4>Notifications</h4>
    <p>This is link to your notification center.</p>
  </li>
  <li data-id="feed-onboard-feed" data-class="custom so-awesome" data-text="Next" data-prev-text="Prev" data-options="tipLocation: top;tip_animation:fade">
    <h4>Feed</h4>
    <p>This will be your feed. Latest posts to your interests will be here.</p>
  </li>
  <li data-id="feed-onboard-favourites" data-button="Next" data-prev-text="Prev" data-options="tipLocation: top;tipAnimation:fade">
    <h4>Favourites</h4>
    <p>You can add interests to favourites by click a star icon from right hand list.</p>
  </li>
  <li data-id="feed-onboard-hot" data-button="Next" data-prev-text="Prev" data-options="tipLocation: top;tip_animation:fade">
    <h4>Hot topics</h4>
    <p>Hottest interests appear here.</p>
  </li>
  <li data-id="feed-onboard-interest" data-button="Next" data-prev-text="Prev" data-options="tipLocation:right;tip_animation:fade">
    <h4>Interests</h4>
    <p>Now, click on the interest name to get to a specific channel! </p>
  </li>
</ol>