<ol id="hashtag-onboard" class="joyRideTipContent" data-joyride>
  <li data-text="Next" data-options="tipLocation: bottom; tip_animation:fade; prev_button: false">
    <h4>Interest channel</h4>
    <p>This is the channel of an interest. A place where you can connect with people interested in the same thing!</p>
    <p>Click "Join" to see all the content and the controls for the channel.</p>
    <p>Click "Leave" to leave the channel.</p>
    <p>Click "Add topic" to add/edit the topic or the banner photo of the channel.</p>
  </li>
</ol>