<ol id="hashtag-onboard" class="joyRideTipContent" data-joyride>
  <li data-prev-text="Prev">
    <h4>Interest channel</h4>
    <p>This is channel for your interest. A place where you can connect with colleques.</p>
  </li>
</ol>