<ol id="new-user-onboard" class="joyRideTipContent" data-joyride>
  <li data-button="Next" data-prev-text="Prev">
    <h4>Hello and Welcome to UHPeople</h4>
    <p>First step is to complete your user profile. Please fill all the fields, upload a picture and click update.</p>
  </li>
</ol>