<div class="container">
  <div class="col-sm-8">
    <%= image_tag @photo.image.url(:medium) %>
  </div>

  <%if current_user == @photo.user%>
      <%= link_to 'Delete photo', photo_path(photo: @photo), method: :delete, class: 'btn btn-danger', "data-confirm": 'Are you sure you want to delete this photo?', "data-confirm-title": 'Delete photo' %>
  <%end%>

</div> <!-- /container -->