<div class="container">
  <div class="col-xs-12 col-sm-8">
    <div id="about" class="about-headers">
      <h2>Privacy policy</h2>

      <ol>
        <h3><li>Data controller</h3>

      University of Helsinki<br>
      PO Box 3 (Fabianinkatu 33)<br>
      00014 University of Helsinki<br><br>

      Phone (exchange): 02941 911</li>

      <h3><li>Name of data file</h3>
      The user database of the UHPeople service</li>

      <h3><li>Purpose of processing personal data</h3>
      The purpose of processing personal data is to provide the UHPeople service.</li>

      <h3><li>Data content of the register</h3>
      The following user data are collected from the University’s login system:<br>
      - Username<br>
      - Name<br><br>

      In addition, users can save the following information about themselves:<br>
      - Email<br>
      - Interests<br>
      - Presentation<br>
      - Photograph</li>

      <h3><li>Regular sources of data</h3>
      The University’s user database and users themselves</li>

      <h3><li>Regular disclosure of data</h3>
      Data can be disclosed to the authorities when required by law.</li>

      <h3><li>Transfer of data outside the EU or the EEA</h3>
      Data will not be transferred outside the EU or the EEA.</li>

      <h3><li>Principles for protecting the register</h3>
      The register will be hosted in electronic format on a secure server maintained by the University.</li>

    </ol>

    </div>

  </div>
</div>