@import 'joyride/joyride-2.1';
@import 'select2';
@import 'select2-bootstrap';
@import 'jquery.atwho';
@import 'jqcloud';

@import 'uh-styleguide/sass/variables/**/*';
@import 'uh-styleguide/sass/mixins/_mixins.scss';

@import 'mobile-first';
@import 'navbar';
@import 'autocomplete';
@import 'chat';
@import 'feed';
@import 'user-style';
@import 'search';
@import 'notification';
@import 'material-colors';

@import 'material';

@import 'bootstrap-sprockets';
@import 'bootstrap-custom';

@import 'material-colors-override';

html, h1, h2, h3, h4, h5, h6 {
	@include font-family-main;
}

p {
  // @include font-family-bodytext;
}

.hashtag-color--0 { background-color: $lightblue; }
.hashtag-color--1 { background-color: $darkgreen; }
.hashtag-color--2 { background-color: $yellow; }
.hashtag-color--3 { background-color: $lila; }
.hashtag-color--4 { background-color: $darkred; }
.hashtag-color--5 { background-color: $red; }
.hashtag-color--6 { background-color: $orange; }
.hashtag-color--7 { background-color: $turquoise; }
.hashtag-color--8 { background-color: $darkturquoise; }
.hashtag-color--9 { background-color: $lightturquoise; }
.hashtag-color--10 { background-color: $limegreen; }
.hashtag-color--11 { background-color: $pink; }

.material-icons.md-15 {
  font-size: 15px;
  width: 15px;
  height: 15px;
  vertical-align: top;
}

.material-icons.md-18 {
  font-size: 18px;
  width: 18px;
  height: 18px;
  vertical-align: top;
}

.material-icons.md-24 {
  font-size: 24px;
  width: 24px;
  height: 24px;
  vertical-align: top;
}

.invite-button {
  margin-top: -4px;
}

.modal-body > div {
  padding-top: 0;
  margin-top: -5px;
}

.modal-body > div > button {
  margin-top: 5px;
}

.alert .timestamp {
  color: $timestamp-color;
  font-size: 70%;
  font-weight: normal;
  float: right;
}

.notif-link .mdl-badge[data-badge]:after {
	top: 11px !important;
}

.mdl-badge[data-badge='0']:after {
	display: none;
}

.mdl-badge[data-badge='0'] {
	position: inherit;
	margin-right: 0;
}

.mdl-badge[data-badge]:after {
	top: -2px;
	background-color: $accent;
}

.landing-page-image {
	background: image-url('bg.jpg') center / cover;

	position: fixed;
	width: 100%;
	height: 100%;

	-webkit-filter: brightness(75%);
	-moz-filter: brightness(75%);
	-o-filter: brightness(75%);
	-ms-filter: brightness(75%);
	filter: brightness(75%);
}

.landing-page-content {
	@extend .text-center;
	position: relative;
	height: 100%;
	width: 100%;
	color: $white;
	padding-top: 20vh;

  h1 {
    word-wrap: break-word;
  }

	.mdl-button {
		margin-top: 32px;
	}
}

.panel-title {
  word-wrap: break-word;
}

// other

.flow-alert {
  background-color: $success;
  margin-bottom: 0;
  position: absolute;
  top: 75px;
  z-index: 2000;
  margin: 0 auto;
  left:0;
  right:0;
  width: 80%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

#collapseAlert {
  margin-bottom: 0;
}

.modal-footer {
  border-top: 0 solid #fff;
}

.modal-header {
  border-bottom: 0 solid #fff;
}

.autoModal.modal {
  max-width: 100%;
}

.modal-dialog.autoModal {
  width: 80%;
  height: 80%;
}

.modal-image {
  height: 60vh;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 10px;
}

.about-headers {
  h2 {
    text-transform: none;
  }
}

.search-small-font {
  font-size: 80%;
  font-style: italic;
}

textarea:focus,
input[type="text"]:focus {
  outline: none !important;
}

.mdl-button {
  text-decoration: none !important;
}
