/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$jumbotron-color: #2B2B2B;


/* User image crop*/
.profileCrop {
  height: 300px;
  background-position: center;
  /* Make the background image cover the area of the <div>, and clip the excess */
  background-size: cover;
}

/* Navbar fix */

/*UHPeople link*/
a.navbar-brand { 
	padding-top: 25px; 
	padding-bottom: 10px; 
	padding-left: 20px; 
}

/*Link color to white*/
.navbar-inverse .navbar-brand {
	color: #FFFFFF;
	font-weight: bold;
}

/*UH logo positioning*/
.navbar-brand { 
	padding-top: 10px; 
	padding-left: 17px;
}

/* Navbar links positioning*/
.navbar .navbar-nav > li > a {
	padding-top:25px !important; 
	padding-bottom:10px !important;
}

/*Navbar height to logo height + padding*/
.navbar {
	min-height:70px !important;
	/*navbar margin fix*/
	margin-bottom: 0;
}
/*navbar margin moved to container top*/
.container{
	margin-top: 20px;
}


/* Jumbotron material desing */
.jumbotron {
	background: $jumbotron-color;

	h1 {
		color: #00ACAE;
	} 
	p {
		color: #FFFFFF;
	} 
	footer {
		color: #B2AEB1;
	}
}


.search{
	padding-top: 10px;
}

.chatbox{
	height: 300px;
	overflow: auto;
}
.panel-body{
	padding-top: 5px;
	padding-bottom: 5px; 
}
.footer{
	height: 100px;
}
.chat-name {
	color: #7D7D7D;
	font-style: italic;
}

.chat-timestamp {
	@extend .chat-name;
	
	font-size: 70%;
}
.head {
	height: 100vh;

	.middle{

	}
}
