
@import  'masonry/basic';
@import  'masonry/centered';
@import  'masonry/fluid';
@import  'masonry/gutters';
@import  'masonry/infinitescroll';
@import  'masonry/right-to-left';
@import  'masonry/transitions';

@import "bootstrap-sprockets";
@import "bootstrap";

@import 'font-gotham';

$jumbotron-color: #2B2B2B;

/* feed box */
.box{
	background-color: inherit;
	font-size: inherit;
}

/* User image crop*/
.profileCrop {
  height: 300px;
  background-position: center;
  /* Make the background image cover the area of the <div>, and clip the excess */
  background-size: cover;
}

/* Navbar fix */
/*Link color to white*/
.navbar-inverse .navbar-brand {
	color: #FFFFFF;
	font-weight: bold;
}

.navbar{
	margin-bottom: 0;

	.container{
		padding-top: 0;
	}
	.navbar-form{
		padding-top: 10px;
	}
}

.navbar-brand,
.navbar-nav li a {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
}

.dropdown-menu > li > a{
	line-height: 1.42857143;
	height: inherit;
}

.container{
	padding-top: 20px;
}

/* Jumbotron material desing */
.jumbotron {
	background: $jumbotron-color;

	h1 {
		color: #00ACAE;
	} 
	div {
		color: #FFFFFF;
	} 
	footer {
		color: #B2AEB1;
	}
}

.chatbox{
	height: 300px;
	overflow: auto;
}
.panel-body{
	padding-top: 5px;
	padding-bottom: 5px; 
}
.footer{
	height: 100px;
}

.chat-name {
	color: #7D7D7D;
	font-style: italic;
}

.chat-timestamp {
	@extend .chat-name;
	
	font-size: 70%;
}

.chat-online {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #549E54;
}
/* Frontpage setup*/
.head {
	height: 100vh;
	background-image: image-url('bg.jpg');
	background-position: center;

	.middle{
		padding-top: 150px;

		h1, p, a{
			text-shadow: 1px 1px 11px rgba(0, 0, 0, 0.81);
		}
	}
}


/*FEED*/

.feed_chat_box{
	width: 100%;
	min-height: 40px;
	padding-bottom: 5px;
	padding-left: 20px;

	.thumbnail {
		height: 45px;
		width: 45px;
		background-color: #00ACAE;
		border-radius: 5px;
		float:left;
	}

	.message {
		padding-left: 60px;

		h5 {
			margin-bottom: 3px;
		}
	
		h5 > a{
			font-weight: 900;
			padding-right: .25rem;
			color: #3d3c40 !important;
			margin-left: 0;
			font-style: normal;
		}

		.timestamp {
			color: #ABA7A9;
			font-weight: normal;
			font-size: 70%;
		}

		p {
			font-size: 15px;
			line-height: 22px;
			color: #3d3c40;
		}
	}
}

/*Favourites*/

.panel{
	border-radius: 0;
	background-color: #f6f7f8;
	margin-bottom: 0;

}
.panel-default > .panel-heading {
	background-color: #f6f7f8;
}

/*Favourites Chatbox*/

.favourites_chat_box{
	width: 100%;

	.message {
		margin-bottom: 0px;
	
		.user{
			padding-right: .25rem;
			color: #3d3c40 !important;
			margin-left: 0;
			font-style: normal;
			font-weight: bold;
			font-size: 100%;
			margin-bottom: 0;
		}

		p {
			font-size: 15px;
			line-height: 22px;
			color: #3d3c40;
			margin-bottom: 0;
		}

		span {
			color: #ABA7A9;
			font-weight: normal;
			font-size: 70%;
		}
	}
}


