/* 

  Autocomplete css

*/

.typeahead-invite,
.typeahead {
  width: 100% !important;
}

.twitter-typeahead {
  width: 100%;


  .tt-hint {
    color: #999
  }

  .tt-dropdown-menu {
    width: 100%;
    background-color: $white;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);

    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
            
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
  }

  .tt-suggestion.tt-cursor {
    color: $white;
    background-color: $primary;
  }

  .tt-suggestion {
    padding-left: 16px;
    padding-right: 16px;
  }

  .tt-suggestion a {
    text-decoration: none;
    color: $black !important;
  }

  .tt-suggestion div {
    height: 64px;
    width: 100%;
    padding-top: 10px;
    display: inline-block;
  }

  .tt-suggestion span {
    padding-top: 12px;
    display: inline-block;
  }

  .tt-suggestion img {
    float: right;

    width: 45px;
    height: 45px;
  }
}
