// Autocomplete css
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: $fallback
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: $fallback
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: $fallback
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $fallback
}

.site-search {
  //padding-left: 48px;
  box-sizing: border-box;
  height: inherit;
  width: 100%;
  //padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  outline: none;
  color: #444444;
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
}

.search-card {
  width: inherit !important;
  overflow: visible !important;
  min-height: 52px !important;
  height: 52px !important;
  background-color: #fff;
  padding: 0 !important;
  color: $black;
}

.typeahead-invite,
.typeahead {
  width: 100% !important;
}

.twitter-typeahead {
  width: 100%;

  .tt-hint {
    color: $accent;
  }

  .tt-dropdown-menu {
    @extend .mdl-shadow--2dp;
    background-color: $white;
    width: 100%;
  }

  .tt-cursor {
    background-color: $accent;
    color: $white;
  }

  .tt-suggestion {
    padding-left: 16px;
    padding-right: 16px;

    a {
      color: $black !important;
      text-decoration: none;
    }

    div {
      display: inline-block;
      height: 64px;
      padding-top: 10px;
      width: 100%;
    }

    span {
      display: inline-block;
      padding-top: 12px;
    }

    img {
      float: right;
      height: 45px;
      width: 45px;
    }
  }
}

.invite-notice {
  margin-top: 16px;
  height: 64px;
  padding: 0;

  button {
    top: 8px !important;
    right: 8px !important;
  }

  div {
    padding-left: 8px;
    padding-top: 9px;

    span {
      display: inline-block;
      padding-top: 11px;
      padding-left: 11px;
    }

    img {
      float: left;
    }
  }
}
