// Autocomplete css

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: rgba(255, 255, 255, 0.6);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: rgba(255, 255, 255, 0.6);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: rgba(255, 255, 255, 0.6);
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.6);
}

.typeahead-invite,
.typeahead {
  width: 100% !important;
}

.twitter-typeahead {
  width: 100%;

  .tt-hint {
    color: rgba(255, 255, 255, 0.6);
  }

  .tt-dropdown-menu {
    @extend .mdl-shadow--2dp;
    background-color: $white;
    width: 100%;
  }

  .tt-cursor {
    background-color: $accent;
    color: $white;
  }

  .tt-suggestion {
    padding-left: 16px;
    padding-right: 16px;

    a {
      color: $black !important;
      text-decoration: none;
    }

    div {
      display: inline-block;
      height: 64px;
      padding-top: 10px;
      width: 100%;
    }

    span {
      display: inline-block;
      padding-top: 12px;
    }

    img {
      float: right;
      height: 45px;
      width: 45px;
    }
  }
}

.invite-notice {
  margin-top: 16px;
  height: 64px;
  padding: 0;

  button {
    top: 8px !important;
    right: 8px !important;
  }

  div {
    padding-left: 8px;
    padding-top: 9px;

    span {
      display: inline-block;
      padding-top: 11px;
      padding-left: 11px;
    }

    img {
      float: left;
    }
  }
}
