
@mixin chat {
  width: 100%;
  min-height: 40px;

  .panel-body {
    margin: 0;
    min-height: 72px;
    padding: 0;
    padding-left: 16px;
  }

  .avatar-link {
    float: left;
    padding-top: 14px;
  }

  .timestamp {
    color: $timestamp-color;
    font-size: 70%;
    font-weight: normal;
  }
}

// Feed chat
.feed-chat-box {
  @include chat;

  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 8px;

  .message {
    padding-left: 56px;
    padding-top: 16px;;

    h5 {
      margin-top: 0;
      margin-bottom: 4px;

      a {
        font-weight: 900;
        padding-right: .25rem;
        color: #3d3c40 !important;
        margin-left: 0;
        font-style: normal;
        word-wrap: break-word;
      }
    }

    p {
      font-size: 15px;
      line-height: 22px;
      color: #3d3c40;
      word-wrap: break-word;
    }

  }
}


// Favourites Chatbox
.favourites-chat-box {
  @include chat;

  padding-bottom: 5px;
  padding-left: 16px;

  .message {
    padding-left: 56px;
    padding-top: 16px;
    padding-right: 8px;

    h5 {
      margin-top: 0;
      margin-bottom: 4px;

      a {
        font-weight: 900;
        padding-right: .25rem;
        color: #3d3c40 !important;
        margin-left: 0;
        font-style: normal;
        word-wrap: break-word;
      }

      p {
        padding: 0;
        margin: 0;
      }
    }

    p {
      font-size: 15px;
      line-height: 22px;
      color: #3d3c40;
      word-wrap: break-word;
    }
  }
}

// INTEREST Chat this is the hashtags own page
.interest-chatbox {
  @include chat;

  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;

  .message {
    padding-top: 16px;
    padding-left: 56px;
    padding-right: 16px;

    h5 {
      margin-top: 0;
      margin-bottom: 4px;

      a {
        color: #3d3c40 !important;
        font-style: normal;
        font-weight: 900;
        margin-left: 0;
        padding-right: .25rem;
      }
    }

    p {
      color: #3d3c40;
      font-size: 15px;
      line-height: 22px;

      //issues on chrome
      //word-wrap: break-word;
    }
  }
}

.nav-list {
  li:not(.online) a {
    padding-left: 30px;
  }

  li.online a::before {
    background: #549E54;
    border-radius: 50%;
    content: '';
    display: block;
    float: left;
    height: 10px;
    margin-right: 5px;
    margin-top: 5px;
    width: 10px;
  }
}

// chat input moved inside chat panel
.panel-chat {
  //height: 100%;

  .panel-footer {
    background-color: #fff !important;
    padding: 0;
  }

  .panel-heading {
    height: 45px;
  }

  .center_spinner {
    width: 90px;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
  }
}
.input-group.form-control{
  box-shadow: 0 !important;
}

.form-control.mentions{
  width: 100%;
  height: 50px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  box-shadow: 0;

  border-style: none;
}

.btn-borderless {
  border-top: 0 !important;
  border-right: 0 !important;
  border-bottom: 0 !important;
  border-left: 0 !important;
  border-radius: 0 !important;
  // height: 50px;
  padding-left: 18px !important;
  padding-right: 18px !important;
  background-color: $white;
}

.btn-borderless:hover {
  background-color: $white;
}

.btn-borderless {
  .send-hover:hover {
    color: $black;
  }
}

.input-group.input-chat {
  margin: 0 auto;
  width: 100%;
}

.input-group-btn:last-child > .btn {
  margin-left: 0px !important;
  border-left: 0 !important;
}

.panel-chat {
  margin-bottom: 20px;
}

// Interest page members list
.chat-button {
  margin-bottom: 10px;
}

.scrollable {
  height: 423px;
  overflow: auto;
}

.panel-body.fav {
  padding: 0;
}

@keyframes highlight {
 	0% {
 		background: none;
 	}
  30% {
    background-color: $color-100;
  }
 	100% {
 		background: none;
 	}
}

.new_messages{
  -webkit-animation: highlight 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: highlight 2s; /* Firefox < 16 */
      -ms-animation: highlight 2s; /* Internet Explorer */
       -o-animation: highlight 2s; /* Opera < 12.1 */
          animation: highlight 2s;
}

div.line {
  color: $accent;
  margin-top: -5px;
  height: 10px;
  width: 100%;
  border-bottom: 1px solid $accent;

  span {
    font-size: 90%;
    font-weight: normal;
    background-color: $white;
    padding-left: 10px;
    padding-right: 10px;

    .timestamp {
      font-size: 100%;
      font-weight: normal;
      color: $accent;
    }
  }
}

.loader {
  background-color: $accent;
  height: 48px;
  span {

  }
}

span.space-left {
  font-size: 70% !important;
  color: rgba(0, 0, 0, 0.5);
  font-size: 70%;
  font-weight: normal;
  padding-left: 1em;
  display: inline-block;

  a {
    text-decoration: none;
  }

  a:hover, a:active, a:visited, a:link {
    text-decoration: none;
  }

  .like-badge {
    text-decoration: none;
    padding-right: 2px;
  }
}

.like-icon {
  line-height: 1.42857143 !important;
}

.like-icon-liked {
  color: $accent !important
}

.mdl-hashtag-topic {
  display:inline;
  position: relative;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-weight: 300;
  box-sizing: border-box;
  line-height: 22px;
  padding-left: 10px;
  overflow-x: auto;

  span {
    display: inline-block;
  }

  span.material-icons.title-separator {
    font-size: 18px;
    line-height: 22px !important;
  }

  .hashtag_topicker {
    font-size: 50%;
    font-weight: normal;
    font-style: italic;
    color: $fallback;
  }
}

.neg-margin {
  margin-top: -40vh !important;
  height: 70vh;
  overflow: auto;
}

@mixin calc($key, $value) {
  #{$key}: -webkit-calc(#{$value});
  #{$key}: -moz-calc(#{$value});
  #{$key}: calc(#{$value});
}

.asd {
  @include calc("height", "70vh - 61px - 52px");
}

.chatbox-outer {
  @include calc("height", "70vh - 52px");
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}

.hashtag_bg {
  background-position: center / cover;
  height: 33vh;
  width: 100%;
  position: absolute;
  background-color: rgb(54, 135, 210);

  .channel-join-button {
    right: 25%;
    bottom: -32px;
    position: absolute;
    z-index: 99999;
  }
}
.grouplist-card {
  width: 100% !important;

  .mdl-card__title {

    .mdl-button {
      margin-right: 16px;
      margin-bottom: -36px;
    }
  }
}

.chat-main-card {
  max-width: 978px;

}
.grouplist-drawer {
  display:none;
  float: right;
  width: 260px;
  height: calc(100% - 128px);
  top: 128px;
  right: 0;
  position: absolute;
  z-index: 9999999;

  .grouplist-drawer-card {
    width: 100%;
    height: 100%;
    overflow-y: auto;

    .mdl-card__title {

      .mdl-button {
        right: 8px;
        margin-bottom: 8px;
        position: absolute;
      }
    }
  }
}
