// Feed page css

// feed masonry box
.box {
  background-color: inherit;
  font-size: inherit;
}

// Favourites
.fav {
  border-radius: 0;
  margin-bottom: 0;
  margin-top: 16px;

  .panel-heading {
    border-radius: 0;
    border-bottom: 1px solid #e0e0e0;
  }

  .panel-title {
    text-decoration: none;
    height: 48px;
    line-height: 48px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;

    a {
      color: $fallback-negative;
    }
  }

  .panel-body {
    background-color: $white;
    margin: 0;
  }
}

// favourite star
.star {
  color: $star-color;
  float: right;
  margin-top: 3px;
  opacity: 1;
  text-decoration: none !important;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;

  .glyphicon-star-empty {
    opacity: .5;
  }
}

.star:hover {
  color: $star-color;
}

// TAB border
$border-color: #ddd;

#feed.tab-pane, #limputtaja.tab-pane {
  border-bottom: 1px solid $border-color;
  border-left: 1px solid $border-color;
  border-radius: 0 0 5px 5px;
  border-right: 1px solid $border-color;
  padding-right: 16px;
  background-color: white !important;
}

.feed-paragraf {
  margin: auto 0;
  padding: 20px;
}

.nav-tabs {
  margin-bottom: 0;
}

.hashtaglist-position {
  padding-top: 16px;
}

input.mdl-grey-placeholder{
  margin-left: 16px;
  font-size: 75%;

  &:focus, &:valid {
    &::-webkit-input-placeholder {
      color: $fallback-negative;
    }
  }
}

.interest-card {
  width: 100% !important;
  margin-bottom: 16px;

  .mdl-card__title {
    color: #fff;
    height: 176px;
    background-color: #4CAB8D;

    h2.mdl-card__title-text{
      color: #fff !important;
    }
    .mdl-button {
      margin-right: 16px;
      margin-bottom: -36px;
    }
  }

  .interest-list{
    padding-bottom: 16px;
    padding-top: 16px;
    font-weight: 300;

    a{
      color: $black;
    }
    a:hover{
      color: $primary;
      text-decoration: none;
    }
    .small-fallback{
      color: $fallback-negative;
      font-size: 75%;
    }

    .interest-list-item {
      padding-left: 16px;
      height: 48px;
      padding-top: 8px;

      .interest-list-star {
        width: 32px;
        height: inherit;
        float: left;
      }

      .send-hover:hover{
        text-decoration: none;
      }

      .interest-list-hashtag{
        display:inline-block;

        p {
          margin: 0;
        }
      }
    }
  }
}
div.fav-card {
  width: 100%;

  h2.mdl-card__title-text {
    a {
      color: $white !important;
      font-weight: normal;
    }
  }
}
