@import 'uh-styleguide/sass/variables/_colors.scss';

$fallback: rgba(255, 255, 255, .55);
$fallback-negative: rgba(0, 0, 0, .50);
$navbar-link: $white;

$color-50: #E0F7FA;
$color-100: #B2EBF2;
$color-200: #80DEEA;
$color-300: #4DD0E1;
$color-400: #26C6DA;
$color-500: #00BCD4;
$color-600: #00ACC1;
$color-700: #0097A7;
$color-800: #00838F;
$color-900: #006064;

$primary: $black;
$primary-link: $white;
$accent: $blue;
$accent-hover: $blue--active;

$success: #CCFF90; // Light green 100
$star-color: $accent;
$avatar-border-color: #d9d9d9;
$timestamp-color: $fallback-negative;
$body: rgba(0, 0, 0, .02);
