$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);

$fallback: rgba(255, 255, 255, .55);
$fallback-negative: rgba(0, 0, 0, .50);
$navbar-link: $white;

$color-50: #E0F7FA;
$color-100: #B2EBF2;
$color-200: #80DEEA;
$color-300: #4DD0E1;
$color-400: #26C6DA;
$color-500: #00BCD4;
$color-600: #00ACC1;
$color-700: #0097A7;
$color-800: #00838F;
$color-900: #006064;

$primary: $color-600;
$primary-link: $white;
//$accent: #FFC107;
$accent: #E91E63;
$accent-hover: #C2185B;
$jumbotron-color: $color-300;

$success: #CCFF90; // Light green 100
$star-color: $accent;
$avatar-border-color: #d9d9d9;
$timestamp-color: $fallback-negative;
$body: rgba(0, 167, 248, .02);

// notification types
$type1: #EF9A9A; // red 200
$type2: #CE93D8; // purple 200
$type3: #FFF59D; // yellow 200
$type4: #FFCC80; // orange 200
