// Color override file

html body {
  background-color: $body;

  a {
    color: $color-800;
  }
}

h2, h3 {
  // color: $primary !important;
  text-transform: uppercase;
  font-weight: normal !important;
}

.jumbotron {

  background: $jumbotron-color;
  background-color: $jumbotron-color !important;
  h1 {
      color: $primary-link;
      //text-shadow: 0 0 20px #000000, 0 0 20px #000000, 0 0 20px magenta;
  }

  div {
    color: $primary-link;
  }

  footer {
    color: $fallback !important;
  }
}

.well, .panel-default {
  background-color: $white !important;
}

.panel-heading {
  background-color: $white !important;
}

#feed {
  background-color: $white !important;
}

/* notification hover */
.notif > .alert:hover {
  background-color: rgba(208, 237, 197, .1);
}

.alert-success .alert-link {
  color: $black !important;
}

.type1 {
  background-color: $type1 !important;
}

.type2 {
  background-color: $type2 !important;
}

.type3 {
  background-color: $type3 !important;
}

.type4 {
  background-color: $type4 !important;
}

.icon-color{
  color: $fallback-negative;
}

.btn-success{
  background-color: $primary !important;
  color: $white !important;
}

.badge-success {
  background-color: $accent !important;
}
.like-icon-color {
  color: rgba(0, 0, 0, .40);
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after {
  background-color: $accent !important;
}

.mdl-button--fab.mdl-button--colored, .mdl-button--fab.mdl-button--colored:active {
  background-color: $accent !important;
}
