// Color override file

html body {
  background-color: $body;

  a {
    color: $accent;
  }

  a:hover {
    color: $accent-hover;
  }
}

h2, h3 {
  text-transform: uppercase;
  font-weight: normal !important;
}

.well, .panel-default, .panel-heading, #feed {
  background-color: $white !important;
}

/* notification hover */
.notif > .alert:hover {
  background-color: rgba(208, 237, 197, .1);
}

.alert-success .alert-link {
  color: $black !important;
}

.icon-color {
  color: $fallback-negative;
}

.badge-success {
  background-color: $accent !important;
}

.like-icon-color {
  color: rgba(0, 0, 0, .40);
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after {
  background-color: $accent !important;
}

.mdl-button--fab.mdl-button--colored, .mdl-button--fab.mdl-button--colored:active {
  background-color: $accent-hover !important;
}

.mdl-menu__item {
  color: $accent;
}

.mdl-menu__item:hover {
  color: $accent-hover;
}
