//	Mobile-first layout

@media (max-width: 992px){

  .tab-line {
    margin-left: -5px;
  }
}

@media (max-width: 767px) {

  .small-right {
    padding-right: 0;
  }

  .small-left {
    padding-left: 0;
  }

  #non-transparent {
    position: absolute;
    top: 100%;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: $white;
    border: 1px solid $fallback;
    //border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box;
  }

  .grouplist-position {
    margin-top: 0 !important;
  }

  .mdl-layout__header-row{
    padding-left: 5px !important;
  }
  .mdl-navigation__link{
    padding-left: 3px !important;
    padding-right: 8px !important;
  }
}

.visible-xs {
  display:none;
}

a.visible-xs.material-icons.md-36.dropdown-toggle{
  display: none;
}


@media (max-width: 768px){
  .hidden-xs {
    display:none;
  }
  .visible-xs {
    display:inline;
  }
  .nav > li.hidden-xs{
    display:none;
  }

  a.visible-xs.material-icons.md-36.dropdown-toggle{
    display: block;
  }
  a.dropdown-toggle.hidden-xs{
    display: none;
  }
  .navbar-nav > li > a.more_vert{
    padding-left: 0;
    padding-right: 10px;
  }
}

a.material-icons{
    text-decoration: none !important;
}

.toolbar{
  position: absolute;
  right: 0;
  padding-right: 20px;
  padding-top: 5px;

  .dropdown-menu{
    // fix users dropdown menu not getting too big with scrollable
    max-height: 400px;
  }
}
