

//  Navbar Styles


.navbar {

  margin-bottom: 0 !important;
  border-radius: 0 !important;

  .navbar-f {
    border: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
    padding-bottom: 0;
    box-shadow: none;
  }

  .navbar-brand {
    color: #FFFFFF;

    img{
      margin-top: -7px;
    }
  }
  .badge {
    margin-top: -25px;
    margin-left: -5px;
  }

  li > .notif-link{
    padding-left: 0px;
    padding-right: 0px;
  }

  li > .notif-link > .notif-count{
    font-size: 14px !important;
    position: absolute;
    padding-left: -4px;
    font-weight: bold;
  }
}
