//  Navbar Styles
.navbar {
  margin-bottom: 0 !important;
  border-radius: 0 !important;

  .navbar-f {
    border: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
    padding-bottom: 0;
    box-shadow: none;
  }

  .badge {
    margin-top: -25px;
    margin-left: -5px;
  }
}

header {
  div.mdl-menu__container.is-upgraded.is-visible{
    right: 16px !important;
  }
  .mdl-navbar {
    padding-left: 16px;
  }

  .mdl-navigation__link {

    .material-icons.md-24{
      line-height: 64px !important;
    }
  }

  .logo-font {
    font-size: 18px;
  }

  a:hover{
    text-decoration: none;
    color: $accent;
  }

  a.notif-link{
    .material-icons{
      line-height: 64px !important;
      font-size: 22px;
    }
  }
  .navbar-user-menu{
    z-index: 1000;
  }
}
