
/* Navbar fix */
/*Link color to white*/
.navbar-inverse .navbar-brand {
  color: #FFFFFF;
  font-weight: bold;
}

.navbar {
  
  margin-bottom: 0;

  .container {
    padding-top: 0;
  }
  .navbar-form {
    padding-top: 10px;
  }
}

.navbar-brand,
.navbar-nav li a {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
}

.dropdown-menu > li > a {
  line-height: 1.42857143;
  height: inherit;
}

/* navbar notification link */
.navbar-inverse .navbar-nav > li > .notif-link{
  width: 32px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 1px !important;
}

.navbar-inverse .navbar-nav > li > .notif-link > .notif-count{
  font-size: 14px !important;
  position: absolute;
  padding-left: -4px;
  font-weight: bold;
}