// User styles

// User image crop

.profileCrop {
  height: 300px;
  background-position: center;
  /* Make the background image cover the area of the <div>, and clip the excess */
  background-size: cover;
}

// Thumbnail image size
a img.img-circle {
  width: 45px;
  height: 45px;
}
