// User styles

// User image crop
.profileCrop {
  height: 300px;
  background-position: center;
  background-size: cover;
}

// Thumbnail image size
a img.img-circle {
  width: 45px;
  height: 45px;
}
.image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100;
  display: none;

  .absolut-center-spinner{
    position:fixed;
     width:60px;
     height:60px;
     margin:-30px auto auto -30px;
     top:50%;
     left:50%;
     text-align:center;
     display: none;
  }

  .overlay-card {
    z-index: 110;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-width:640px;
    width: inherit;
    height: auto;
    display: block;

    img {
      max-width: 100%;
      height:auto;
      margin: 0 auto;
      display: block;
    }

    .mdl-card__actions {
      height: 52px;
      padding: 16px;
      background-color: rgba(0, 0, 0, 0.3);
      display: flex;
      box-sizing: border-box;
      align-items: center;
    }
    .mdl-textfield {
      color: $white;
      width: 300px;
      max-width: 60%;
      margin: 0;
      padding: 0 !important;
    }
    .image_filename {

      font-size: 14px;
      font-weight: 500;
    }
    .mdl-button {
      background: #484848;
      color: $white;
    }
  }
}

.parallax {
  perspective: 1px;
  height: 100vh;
  perspective-origin-x: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  .mdl-user-card {
    height: 100vh;
    width: 100%;
    top: 56px;

  @media (max-width: 767px){
    .mdl-card__title {
      padding: 0;
    }
  }

    .user-img-circle {
      margin: 0 auto;
      margin-top: 32px;
      width: 200px;
      height: 200px;
      border-radius: 5%;
    	-webkit-border-radius: 5%;
    	-moz-border-radius: 5%;
    }

    .mdl-card__title-row {
      width: 100%;
      display: block;
    }
    .mdl-cell-margin-auto {
      margin: 0 auto;
    }
  }
  .next{
    background-color: white;
    min-height: 70vh;
  }
  .parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin-x: 100%;
  }

  .background-div {
    transform: translateZ(-1px) scale(2);;
  }
  .overflow-div{
    margin-top: 65vh;
    transform: translateZ(-1);

    .mdl-layout__container {
      height: inherit;
    }
    .collapse-card {
      width: 100%;
    }
  }
}

.tile-cell {
  margin: 1px !important;
}

.card-image.mdl-card {
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;

  .mdl-card__title {
    height: 160px;
  }

  // Only shown in chat add photo
  .mdl-card__actions {
    display: none;
    background-color: rgba(255, 255, 255, 0.3) !important;
    display: flex;
    box-sizing:border-box;
    align-items: center;
  }
}
.add-photo-card {
  min-height: 80px;
  position: absolute;
  margin-top: -30px;
  right: 16%;
  z-index: 120;
}
