<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">UHPeople</span>
  <nav class="mdl-navigation">
    <% link_to 'Home', feed_index_path, class:'mdl-navigation__link' %>
    <a class="mdl-navigation__link" href="">Link</a>
    <a class="mdl-navigation__link" href="">Link</a>
    <a class="mdl-navigation__link" href="">Link</a>
    <a class="mdl-navigation__link" href="">Link</a>
  </nav>
</div>
