<ol id="joy" data-joyride>
  <li data-id="help1" data-text="Next" data-options="tip_location: top; prev_button: false">
    <h4>Hello and welcome to UHPeople!</h4>
    <p>This guide will help you for your first-time use. Lets get started. Click next!</p>
  </li>
  <li data-id="help2" data-class="custom so-awesome" data-text="Next" data-prev-text="Prev">
    <h4>Feed</h4>
    <p>This will be your feed page. Latest posts to your intrests will be here</p>
  </li>
  <li data-id="help3" data-button="Next" data-prev-text="Prev" data-options="tip_location:top;tip_animation:fade">
    <h4>Favourites</h4>
    <p>You can add intrests to favourites by click a star icon from right hand list.</p>
  </li>
  <li data-id="help4" data-button="Next" data-prev-text="Prev" data-options="tip_location: top;tip_animation:fade">
    <h4>Hot topics</h4>
    <p>Hottest intrests appear here</p>
  </li>
  <li data-button="End" data-prev-text="Prev">
    <h4>Lets find new intrest for you!</h4>
    <p>Click link on Hot topics cloud and find "Join" -button from interest page to fallow it!</p>
  </li>
</ol>