<div class="hashtag_bg hashtag-color--<%= @hashtag.color %>"
    style="
    <% if @hashtag.photo.present? %>
      background: url(<%= @hashtag.photo.image.url %>) no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      -ms-background-size: cover;
      background-size: cover;
      -webkit-filter: brightness(75%);
      -moz-filter: brightness(75%);
      -o-filter: brightness(75%);
      -ms-filter: brightness(75%);
      filter: brightness(75%);
    <% end %>
    z-index: -100;">
</div>
