<div class="grouplist-drawer">
  <div class="mdl-card grouplist-drawer-card mdl-shadow--6dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text mdl-color-text--grey-600">Members</h2>
      <button class="close-card mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">close</i>
      </button>
    </div>
    <div class="mdl-card__supporting-text">
      <ul class="nav nav-list scrollable">
        <% @hashtag.users.each do |m| %>
          <li class='member-<%= m.id %>'><%= link_to truncate(m.name, length: 27), m %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
